.authorization__header-link {
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 1023px) {
  .authorization__header-link {
    margin-right: 30px;
  }
}

@media screen and (max-width: 374px) {
  .authorization__header-link {
    font-size: 14px;
    line-height: 17px;
  }
}