.authorization__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 882px;
  height: 74px;
  padding-top: 45px;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
  .authorization__header {
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .authorization__header {
    padding-top: 28px;
    height: 56px;
  }
}