.popup__container {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    background: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    width: 430px;
    height: fit-content;
    max-height: 335px;
    max-width: 80%;
    color: black;
}