@import url(./__logo/header__logo.css);
@import url(./__menu/header__menu.css);
@import url(./__link/header__link.css);

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 882px;
    height: 74px;
    margin: 0 auto;
    padding-top: 45px;
    border-bottom: 1px solid #545454;
}

@media screen and (max-width: 1023px) {
    .header {
      width: 100%;
    }
  }

@media screen and (max-width: 767px) {
    .header {
        padding-top: 28px;
    }
}

@media screen and (max-width: 374px) {
    .header {
      padding-top: 28px;
      height: 56px;
    }
  }