@import url(./__container/popup__container.css);
@import url(./__close/popup__close.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__input/_type/popup__input_type_error.css);
@import url(./__input-error/popup__input-error.css);
@import url(./__input-error/_visible/popup__error_visible.css);
@import url(./__save/popup__save.css);
@import url(./__save/_disabled/popup__save_disabled.css);
@import url(./__image-container/popup__image-container.css);
@import url(./__image/popup__image.css);
@import url(./__image-name/popup__image-name.css);

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    justify-content: center;
    opacity: 0;
    display: flex;
    visibility: hidden;
    transition: opacity 0.8s, visibility linear 0.3s;      /*в firefox все плавно открывается и закрывается*/
    transition-delay: 0s, 0s;
}